modem.img
\sy\stem/\sy\stem/priv-app/MiBrow\serGlobal/MiBrow\serGlobal.apk
\sy\stem/\sy\stem/product/priv-app/Setting\s/Setting\s.apk
\sy\stem/\sy\stem/product/priv-app/Velvet/Velvet.apk
vendor/etc/camera/megviifacepp_model
vendor/lib/libMegviiFacepp-0.5.2.\so
